html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}


body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-content: center;

  overflow-x: hidden;
  overflow-y: scroll;
}

.title {
  display: flex;
  flex-flow: column wrap;

  margin-left: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.ncm-small {
  font-size: 1rem;
}

.main {
  height: 80vh;
}

.search-container { 
  width: clamp(200px, 90%, 270px);

  margin: 0 auto;
  padding: 0.25rem;
}

.search-input { 
  width: 100%;  

  border: none;
  padding: 0 4px; 

  font-size: 1.25rem;   
  box-shadow: 1px 5px 1px #000;
}

.NCM-table {
  display: block;

  width: clamp(calc(375px - 32px), 100%, 600px);
  height: 75%;

  padding: 1rem;
  margin: 3rem auto; 

  font-size: 1.25rem; 
  overflow-y: scroll;
}

.NCM-table thead {
  background-color: #FFF;

  position: sticky; 
  top: -14px;

  width: 90%;
 
  padding: 0.25rem;
}

.NCM-table th {
  width: 90%;

  padding: 0.25rem;
  outline: 2px solid #000;
}

.NCM-table tbody {
  width: 90%;

  padding: 0.25rem;
  outline: 2px solid #000;
}

.NCM-table tbody td {
  padding: 0.25rem;

  outline: 1px solid #000;
}

.pagination {
  display: flex;
  justify-content: center;

  position: relative ;
  bottom: 1rem;  

  margin: 0 auto;

  font-size: 1rem;
}

.pagination button {
  background-color: #f2f2f2;

  margin: 0 5px;
  padding: 5px 10px;

  border: none;
  cursor: pointer;
}

.pagination button.active {
  background-color: rgb(27, 106, 203);
  color: white;
}

.NCM-not-found{
  display: block;
  width: 100% ;

  font-weight: bold ;
  text-align: center;
}

.footer {
  margin-left: 1rem;
}

.footer a {
  text-decoration: none;
}


.footer a:hover {
  text-decoration: underline;
}

.custom {
  background-color: red;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;

  margin: 0.5rem auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;

  animation: spinner 1.5s linear infinite;
}